.badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;

  &.badge-success {
    background-color: #00d68f;
    color: white;
  }

  &.badge-basic {
    background-color: #edf1f7;
    color: #192038;
  }
}
