.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-row {
  margin-top: 1rem;
  button {
    cursor: pointer;
  }
}

.ml-2 {
  margin-left: 0.5rem;
}
